.navbar{
    border: solid black 2px;
    background-color: blue;
}
h1{
    font-size: 60px;
    text-align: center;
    color: blue;
}
.flotte{
    float: left;
    width: 200px;
    height: 150px;
}
.service{
    background-color: #038AD1;
}
.horaire{
    border: solid gray 5px;
}
.image{
   height: auto;
   width: 100%;
}
.jaune{
    margin: 0;
    clear:left;
}
.Rdv{
    border: 3px solid red;
}
.personne{
    height: auto;
    width: 100%;
}
.fly{
    float: right;
}
.formulaire{
    border: solid #038AD1 2px;
    
}